.toolbar {
    position: absolute;
    top: 10;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }
  
  .toolbar img {
    margin: 0 32px;
  }

  .nav-link{
    color: white;
  }
  
  