mat-toolbar {
    position:sticky;
    top: 10;
   z-index:100;
  }

ul li{
   list-style: none;
  }
.user{
    font-size: 13px;
  }
.user-image{
  border-radius: 50%;
  width: 64px;
  width: 64;
}
.user-image-icon{
  font-size: 16px;
}
::ng-deep mat-menu-content
{
  width: 160px;
}
