<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <button mat-button>
        <img
        width="30"
        alt="sika"
        src="assets/yodam.png"
      />
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#" [routerLink]="['home']">Home</a>
              <button mat-button> <a class="nav-link"  [routerLink]="['search']">Music<span class="sr-only"></span></a></button>
              <button mat-button><a class="nav-link" [routerLink]="['school']">School</a></button>
              <button mat-button> <a class="nav-link"  [routerLink]="['school']">School<span class="sr-only"></span></a></button>

      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" fxLayoutAlign="space-between center">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon" style="color: #270652 ;">menu</mat-icon>
      </button>
      <div fxLayout="row">

      <div>

      </div>
    </div>
      <div>
        <mat-icon *ngIf="deviceXs">more_vert</mat-icon>
        <span *ngIf="!deviceXs">
          <!-- <mat-icon>user</mat-icon>
           -->
        </span>
      </div>

      <mat-toolbar-row *ngIf="deviceXs" fxLayoutAllgn="space-between end">
        <button mat-button>Contact</button>
            <button mat-button>About</button>
            <button mat-button>help</button>
      </mat-toolbar-row>
    </mat-toolbar>
    <!-- Add Content Here -->


<div class="toolbar" role="banner" >




</div>


  </mat-sidenav-content>
</mat-sidenav-container>
