<div class="shool">
  <div class="s-top">
    <div class="s-topright"><a routerLink="/Loginup" routerLinkActive="list-item-active"><mat-icon>key</mat-icon>Inscription</a>
    </div>
    <div class="s-topcenter">
      <span class=""><mat-icon>school</mat-icon>Students</span>
      <span class=""><mat-icon>person</mat-icon>Parents</span>
      <span class=""><mat-icon>man</mat-icon>Teachers</span>
    </div>

    <div class="s-topleft"><a routerLink="/Loginup" routerLinkActive="list-item-active"><mat-icon>lock</mat-icon>Connexion</a></div>
  </div>
  <div class="s-body">
    <div class="s-bodecore"></div>
  </div>

  <div class="s-right"></div>
  <div class="s-left"></div>
  <div class="s-foot"></div>
</div>
