<mat-nav-list>
  <div class="logo py-4">
    <img class="logo-img" src="../../assets/yodam.png"/>
  </div>
  <mat-divider></mat-divider>
  <div class="nav-service">
    <h2 matSubheader class="mat-2">Yodam services</h2>
  <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
    <mat-icon>dashboard</mat-icon>Dasboard
  </a>
  <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
    <mat-icon>home</mat-icon>Home
  </a>
  <a mat-list-item routerLink="/school" routerLinkActive="list-item-active">
    <mat-icon>school</mat-icon>School
  </a>
  <a mat-list-item routerLink="/ativite" routerLinkActive="list-item-active">
    <mat-icon>Ativité</mat-icon>Ativité
  </a>
  <a mat-list-item routerLink="/service" routerLinkActive="list-item-active">
    <mat-icon>services</mat-icon>Services
  </a>

  </div>
  <div class="jeux">
     <h2>Jeux</h2>
  </div>
</mat-nav-list>
